<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="generate_coupon_on_customer_newsletter_success"
                type="Brandastic\NewsletterCoupon\Model\Plugin\GenerateCoupon"/>
    </type>
</config>
